header{
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}

.header_container{
  text-align: center;
  height: 100%;
  position: relative;
}

/* CTA Styling */
.cta{
  margin-top: 2.5rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

/* Social Styling */

.socials{
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  align-items: center;
  gap: .8rem;
  position: absolute;
  left: 1rem;
  bottom: 3rem;

}

.socials::after{
  content: '';
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

/* about img */

img{
  height: 100%;
  border-radius: 12rem 12rem 0 0;
  background: linear-gradient(var(--color-primary),transparent);
}

.me{
  width: 22rem;
  height: 30rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 4rem;
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  

}

/* Scroll Down */

.scroll_down {
  position: absolute;
  right: -1rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-size: .9rem;
  font-weight: 300;
}

/* media Queries  Tablets*/

@media screen and (max-width: 1024px){
  header{
    height: 68vh;
  }
}

/* media Queries  Phone*/
@media screen and (max-width: 500px){
  header{
    height: 100vh;
  }
 .socials, .scroll_down{
  display: none;
 }
}

